{% extends 'golab/patient/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block body_class %}bg-white{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="card mx-auto " style="max-width: 450px">
            <div class="card-body">
                <h3>{% trans "Change Password" %}</h3>
                <form class="text-left" method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" name="action" class="btn btn-primary btn-block">{% trans "Change" %}</button>
                </form>
            </div>

        </div>

    </div>
{% endblock %}
