{% extends "base.html" %}
{% load bootstrap4 %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block styles %}
    <style>
        #content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary">{% trans "Change Password" %}</h3>
                <div class="alert alert-success">{% trans 'Your password is now changed.' %}</div>
            </div>
        </div>
    </div>
{% endblock %}
